{% extends "home/base.html" %}

{% block contents %}
    <!-- start banner Area -->

    <section class="banner-area">
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-start">
                <div class="col-lg-12">
                    <div class="active-banner-slider owl-carousel">
                        <!-- single-slide -->
                        <div class="row single-slide align-items-center d-flex">
                            <div class="col-lg-5 col-md-6">
                                <div class="banner-content">
                                    <h1>PAWSOME LAUNCH !</h1>
                                    <p>Pawsome Launch is the ultimate destination for pet lovers to connecrt,discover
                                        and create a paradise for their furry friends</p>

                                </div>
                            </div>

                        </div>
                        <!-- single-slide -->
                        <div class="row single-slide">
                            <div class="col-lg-5">
                                <div class="banner-content">
                                    <h1>PAWSOME LAUNCH!</h1>
                                    <p>Pawsome Launch is the ultimate destination
                                        for pet lovers to connecrt,discover and
                                        create a paradise for their furry friends.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- End banner Area -->


    <!-- start features Area -->
    <section class="features-area section_gap">
        <div class="container">
            <div class="row features-inner">
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="static/img/features/f-icon1.png" alt="">
                        </div>
                        <h6>Free Delivery</h6>
                        <p>Free Shipping on all order</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="static/img/features/f-icon2.png" alt="">
                        </div>
                        <h6>Return Policy</h6>
                        <p>Free Shipping on all order</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="static/img/features/f-icon3.png" alt="">
                        </div>
                        <h6>24/7 Support</h6>
                        <p>Free Shipping on all order</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="static/img/features/f-icon4.png" alt="">
                        </div>
                        <h6>Secure Payment</h6>
                        <p>Free Shipping on all order</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end features Area -->


    <!-- start product Area -->
    <section class="">

        <div class="d-flex justify-content-center align-items-center">
            {% for category in categories %}
                <div class="container">
                    <div class="d-flex  justify-content-center">
                        <div class="text-center">
                            <div class="section-title">
                                <a href="/products/?category={{ category.name }}">
                                    <figure class="snip1527 hover">
                                        <div class="image"><img src="{{ category.get_image_url }}" alt="pr-sample24"/>
                                        </div>
                                        <figcaption>
                                            <div class="date"><span class="day">{{ category.count }}</span><span
                                                    class="month">{{ category.name }}</span></div>
                                            <h3>{{ category.name }}</h3>
                                            <p>
                                                {{ category.description }}
                                            </p>
                                        </figcaption>
                                    </figure>
                                </a>

                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </section>
    <!-- end product Area -->
{% endblock %}