{% extends "home/base.html" %}

{% block  contents %}
    <style>

        #review-add-btn {
            padding: 0;
            font-size: 1.6em;
            cursor: pointer;
        }

        /* ====================== Review Form ====================== */
        #modal {
            /* position: absolute;
            left: 10vh;
            top: 10vh; */
            /* fix exactly center: https://css-tricks.com/considerations-styling-modal/ */
            /* begin css tricks */
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            /* end css tricks */
            /* z-index: -10; */
            z-index: 3;
            display: flex;
            flex-direction: column;
            /* width: 80vw; */
            /* height: 80vh; */
            border: 1px solid #666;
            border-radius: 10px;
            opacity: 0;
            transition: all .3s;
            overflow: hidden;
            background-color: #eee;
            /* visibility: hidden; */
            display: none;
        }

        #modal.show {
            /* visibility: visible;   */
            opacity: 1;
            /* z-index: 10; */
            display: flex;
        }

        .modal-overlay {
            width: 100%;
            height: 100%;
            z-index: 2; /* places the modalOverlay between the main page and the modal dialog */
            background-color: #000;
            opacity: 0;
            transition: all .3s;
            position: fixed;
            top: 0;
            left: 0;
            display: none;
            margin: 0;
            padding: 0;
        }

        .modal-overlay.show {
            display: block;
            opacity: 0.5;
        }

        #modal .close-btn {
            align-self: flex-end;
            font-size: 1.4em;
            margin: 8px 8px 0;
            padding: 0 8px;
            cursor: pointer;
        }

        form {
            max-width: 900px;
            padding: 0 20px 20px 20px;
        }

        /*
        input,
        label {
          display: block;
          width: 100%;
        }

        label {
          font-weight: bold;
          margin-bottom: 5px;
        } */

        input,
            /* input:not(input[type='radio']), */
            /* input:not(type='radio'), */
        select, .rate, textarea, button {
            background: #f9f9f9;
            border: 1px solid #e5e5e5;
            border-radius: 8px;
            box-shadow: inset 0 1px 1px #e1e1e1;
            font-size: 16px;
            padding: 8px;
        }

        input[type="radio"] {
            box-shadow: none;
        }

        button {
            min-width: 48px;
            min-height: 48px;
        }

        button:hover {
            border: 1px solid #ccc;
            background-color: #fff;
        }

        button#review-add-btn,
        button.close-btn,
        button#submit-review-btn {
            min-height: 40px;
        }

        button#submit-review-btn {
            font-weight: bold;
            cursor: pointer;
            padding: 0 16px;
        }

        .fieldset {
            margin-top: 20px;
        }

        .right {
            align-self: flex-end;
        }

        #review-form-container {
            width: 100%;
            /* background-color: #eee; */
            padding: 0 20px 26px;
            color: #333;
            overflow-y: auto;
        }

        #review-form-container h2 {
            margin: 0 0 0 6px;
        }

        #review-form {
            display: flex;
            flex-direction: column;
            background: #fff;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
        }

        #review-form label, #review-form input {
            display: block;
            /* width: 100%; */
        }

        #review-form label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        #review-form .rate label, #review-form .rate input,
        #review-form .rate1 label, #review-form .rate1 input {
            display: inline-block;
        }

        /* Modified from: https://codepen.io/tammykimkim/pen/yegZRw */
        .rate {
            /* float: left; */
            /* display: inline-block; */
            height: 36px;
            display: inline-flex;
            flex-direction: row-reverse;
            align-items: flex-start;
            justify-content: flex-end;
        }

        #review-form .rate > label {
            margin-bottom: 0;
            margin-top: -5px;
            height: 30px;
        }

        .rate:not(:checked) > input {
            /* position: absolute; */
            top: -9999px;
            margin-left: -24px;
            width: 20px;
            padding-right: 14px;
            z-index: -10;
        }

        .rate:not(:checked) > label {
            float: right;
            width: 1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 30px;
            color: #ccc;
        }

        /* #star1:focus{

        } */
        .rate2 {
            float: none;
        }

        .rate:not(:checked) > label::before {
            content: '★ ';
            position: relative;
            top: 7px;
            left: 2px;
        }

        .rate > input:checked ~ label {
            color: #ffc700;
            /* outline: -webkit-focus-ring-color auto 5px; */
        }

        .rate > input:checked:focus + label, .rate > input:focus + label {
            outline: -webkit-focus-ring-color auto 5px;
        }

        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
            /* outline: -webkit-focus-ring-color auto 5px; */
        }

        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }

        #submit-review {
            align-self: flex-end;
        }


        .quote-container {
            position: relative;
            background: linear-gradient(90deg, #87cb6d 0%, #549d51 100%);
            color: #000000;
            border-radius: 10px;
            max-width: 350px;
            margin: 0 auto;
            overflow: hidden;
            padding: 10px;
        }


        .star-rating {
            color: #ff1133;
            margin: 17px 0 10px;
            font-size: 1.8em;
            text-align: center;
        }

        p.quote {
            margin: 15px 0;
            font-size: 1.4em;
            line-height: 1.3em;
            text-align: center;
        }

        .reviewer-photo {
            position: relative;
            z-index: 9;
            margin: 20px auto 10px;
            text-align: center;
        }

        .reviewer-photo img {
            border-radius: 50%;
            border: 6px solid #ffffff;
            filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
        }

        .reviewer-details {
            position: relative;
            z-index: 9;
            text-align: center;
            color: #ffffff;
        }

        .reviewer-details .name {
            font-size: 20px;
            font-weight: 600;
            display: block;
            padding: 7px 0 10px 0;
        }

        .reviewer-details .title {
            font-size: 17px;
            font-weight: 400;
        }

    </style>
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Pet Details Page</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="">Pet details</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Single Product Area =================-->
    <div class="product_image_area mb-5">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <img class="img-fluid" src="{{ pet.image.url }}" alt="" width="500px">

                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3>{{ pet.name }}</h3>
                        <h2>{{ pet.get_discounted_price }}</h2>
                        {% if pet.origin %}
                            <span>Origin:{{ pet.origin }}</span><br>
                        {% endif %}
                        <span>Age:{{ pet.age }}</span><br>

                        {% if pet.vaccinated_certificate %}
                            Vaccination certificate:<br>
                            <a href="{{ pet.vaccinated_certificate.url }}">
                                <img src="{{ pet.vaccinated_certificate.url }}" width="200" alt="cert">

                            </a>
                        {% endif %}
                        <ul class="list">
                            <li><a class="active" href="#"><span>Category</span> {{ pet.category.name }}</a></li>
                            <li><span>Availability</span>{% if pet.is_available %} In Stock{% else %} Out of
                                Stock{% endif %}</li>
                        </ul>
                        <p>{{ pet.description }}</p>
                        <div class="product_count">
                            <label for="qty">Quantity:</label>
                            <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                   class="input-text qty">
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                    class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i>
                            </button>
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                    class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i>
                            </button>
                        </div>
                        <div class="card_area d-flex align-items-center">
                            <a class="primary-btn" href="{% url "add_to_cart" pet.id %}">Add to Cart</a>
                            {% if user.is_authenticated %}
                                <button style="font-size: 1.4rem" class=" px-2 primary-btn" id="review-add-btn"
                                        aria-label="add review"
                                        title="Add Review">
                                    Add Review
                                </button>
                            {% endif %}
                            <div id="modal" role="dialog" aria-modal="true" aria-labelledby="add-review-header"
                                 class="">
                                <button class="close-btn" aria-label="close" title="Close">x</button>
                                <div id="review-form-container">
                                    <h2 id="add-review-header">Add Review</h2>
                                    <form id="review-form" action="{% url 'review' pet.id %}" method="post">
                                        {% csrf_token %}
                                        <div class="fieldset">
                                            <label>Rating</label>
                                            <div class="rate  p-2">
                                                <input type="radio" id="star5" name="rate" value="5"
                                                       onkeydown="navRadioGroup(event)" onfocus="setFocus(event)"
                                                       required="">
                                                <label for="star5" title="5 stars">5 stars</label>
                                                <input type="radio" id="star4" name="rate" value="4"
                                                       onkeydown="navRadioGroup(event)">
                                                <label for="star4" title="4 stars">4 stars</label>
                                                <input type="radio" id="star3" name="rate" value="3"
                                                       onkeydown="navRadioGroup(event)">
                                                <label for="star3" title="3 stars">3 stars</label>
                                                <input type="radio" id="star2" name="rate" value="2"
                                                       onkeydown="navRadioGroup(event)">
                                                <label for="star2" title="2 stars">2 stars</label>
                                                <input type="radio" id="star1" name="https://codepen.io/pen/rate"
                                                       value="1" onkeydown="navRadioGroup(event)"
                                                       onfocus="setFocus(event)">
                                                <label for="star1" title="1 star">1 star</label>
                                            </div>
                                        </div>

                                        <div class="fieldset">
                                            <label for="comment">Comments</label>
                                            <textarea name="comment" id="comment" cols="20" rows="5"
                                                      required=""></textarea>
                                        </div>
                                        <div>
                                            <button type="submit">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product_image_area mb-5">
        <div class="container text-center">
            {% if reviews %}
                <h2>Reviews and Ratings</h2>
                <div class="d-flex mt-5 justify-content-center flex-wrap align-items-center">
                    {% for review in reviews %}
                        <div class="quote-container m-4">

                            <div class="star-rating">{{ review.rating_string }}</div>

                            <p class="quote">{{ review.comment }}</p>
                            <div class="reviewer-details">
                                <span class="name">- {{ review.user_name }}</span>
                            </div>

                        </div>
                    {% endfor %}
                </div>

            {% endif %}
        </div>

    </div>
    <script>
        let focusedElementBeforeModal;
        const modal = document.getElementById('modal');
        const modalOverlay = document.querySelector('.modal-overlay');
        window.onload = () => {
            const addReview = document.getElementById('review-add-btn');
            addReview.id = 'review-add-btn';
            addReview.addEventListener('click', openModal);
        }
        const openModal = () => {
            // Save current focus
            focusedElementBeforeModal = document.activeElement;


            // Listen for and trap the keyboard
            modal.addEventListener('keydown', trapTabKey);

            // Listen for indicators to close the modal
            modalOverlay.addEventListener('click', closeModal);
            // Close btn
            const closeBtn = document.querySelector('.close-btn');
            closeBtn.addEventListener('click', closeModal);

            // submit form
            {#const form = document.getElementById('review-form');#}
            {#form.addEventListener('submit', submitAddReview, false);#}

            // Find all focusable children
            var focusableElementsString = 'a[href], area[href], input:not([disabled]), select:not([disabled]), textarea:not([disabled]), button:not([disabled]), iframe, object, embed, [tabindex="0"], [contenteditable]';
            var focusableElements = modal.querySelectorAll(focusableElementsString);
            // Convert NodeList to Array
            focusableElements = Array.prototype.slice.call(focusableElements);

            var firstTabStop = focusableElements[0];
            var lastTabStop = focusableElements[focusableElements.length - 1];

            // Show the modal and overlay
            modal.classList.add('show');
            modalOverlay.classList.add('show');

            // Focus first child
            // firstTabStop.focus();
            const reviewName = document.getElementById('reviewName');
            reviewName.focus();

            function trapTabKey(e) {
                // Check for TAB key press
                if (e.keyCode === 9) {

                    // SHIFT + TAB
                    if (e.shiftKey) {
                        if (document.activeElement === firstTabStop) {
                            e.preventDefault();
                            lastTabStop.focus();
                        }

                        // TAB
                    } else {
                        if (document.activeElement === lastTabStop) {
                            e.preventDefault();
                            firstTabStop.focus();
                        }
                    }
                }

                // ESCAPE
                if (e.keyCode === 27) {
                    closeModal();
                }
            }
        };

        const submitAddReview = (e) => {
            // console.log(e);
            console.log('Form subbmitted!');
            e.preventDefault();
            closeModal();
        };

        const closeModal = () => {
            // Hide the modal and overlay
            modal.classList.remove('show');
            modalOverlay.classList.remove('show');

            const form = document.getElementById('review-form');
            form.reset();
            // Set focus back to element that had it before the modal was opened
            focusedElementBeforeModal.focus();
        };

        const setFocus = (evt) => {
            const rateRadios = document.getElementsByName('rate');
            const rateRadiosArr = Array.from(rateRadios);
            const anyChecked = rateRadiosArr.some(radio => {
                return radio.checked === true;
            });
            // console.log('anyChecked', anyChecked);
            if (!anyChecked) {
                const star1 = document.getElementById('star1');
                star1.focus();
                // star1.checked = true;
            }
        };

        const navRadioGroup = (evt) => {
            // console.log('key', evt.key, 'code', evt.code, 'which', evt.which);
            // console.log(evt);

            const star1 = document.getElementById('star1');
            const star2 = document.getElementById('star2');
            const star3 = document.getElementById('star3');
            const star4 = document.getElementById('star4');
            const star5 = document.getElementById('star5');

            if (['ArrowRight', 'ArrowLeft', 'ArrowDown', 'ArrowUp'].includes(evt.key)) {
                evt.preventDefault();
                // console.log('attempting return');
                if (evt.key === 'ArrowRight' || evt.key === 'ArrowDown') {
                    switch (evt.target.id) {
                        case 'star1':
                            star2.focus();
                            star2.checked = true;
                            break;
                        case 'star2':
                            star3.focus();
                            star3.checked = true;
                            break;
                        case 'star3':
                            star4.focus();
                            star4.checked = true;
                            break;
                        case 'star4':
                            star5.focus();
                            star5.checked = true;
                            break;
                        case 'star5':
                            star1.focus();
                            star1.checked = true;
                            break;
                    }
                } else if (evt.key === 'ArrowLeft' || evt.key === 'ArrowUp') {
                    switch (evt.target.id) {
                        case 'star1':
                            star5.focus();
                            star5.checked = true;
                            break;
                        case 'star2':
                            star1.focus();
                            star1.checked = true;
                            break;
                        case 'star3':
                            star2.focus();
                            star2.checked = true;
                            break;
                        case 'star4':
                            star3.focus();
                            star3.checked = true;
                            break;
                        case 'star5':
                            star4.focus();
                            star4.checked = true;
                            break;
                    }
                }
            }
        };
    </script>
    <!--================End Single Product Area =================-->
{% endblock %}